<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="appStyle">
    Welcome to {{ title }}!
  </h1>
</div>
<div class="appCenter">
    <nav>
      <a class="marR20" routerLink="./appOwnCp1">app's component1 </a>
      <a class="marR20" routerLink="./appOwnMd">app's Module</a>
      <a class="marR20" routerLink="./mylib">my library</a>
      <a class="marR20" routerLink="./userlib">user library</a>
      <!-- <span (click)="tabSideMenu('appOwnCp1')">appOwnCp1  </span>
      <span (click)="tabSideMenu('mylib')">mylib  </span> -->
    </nav>
</div>
<router-outlet></router-outlet>

